# Problem 1

In [1]:
# import pandas library
import pandas as pd

In [2]:
# load the 'chipotle' dataset
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/chipotleorders.csv'
chipo = pd.read_csv(url)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

**Part 1:** Turn the item_price into a float number

**Part 2:** What was the most expensive order?

**Part 3:** How many times was a Veggie Salad Bowl ordered?

**Part 4:** How many times did someone order more than one Canned Soda?

**Part 5:** Which was the most-ordered item? How many items were ordered?

**Part 6:** Create a barplot of the top 5 items bought

**Part 7:** How much was the revenue for the period in the dataset?

**Part 8:** How many different items are sold?

**Part 9:** What is the average price of each item?