# Problem 2

In [2]:
import pandas as pd

In [4]:
# load the 'sales' dataset
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/sales.csv'
sales = pd.read_csv(url)
sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

**Part 1:** Add month column

**Part 2:** Add city column (warning: cities in different states may have the same name)

**Part 3:** What was the best month for sales? How much was earned that month?

**Part 4:** What city sold the most products?

**Part 5:** What time should we display advertisements to maximize likelihood of customer's buying product?

**Part 6:** What product sold the most?

**EXTRA:** What products are most often sold together

Hint [here](https://stackoverflow.com/questions/52195887/counting-unique-pairs-of-numbers-into-a-python-dictionary)